
<div class="nav-sub landing-header">
    <div class="nav-sub__left">
        <ul class="nav-sub__left--list">
            <li class="nav-sub__left--list-item"><a href="#" class="btn btn-main">Search</a></li>
            <li class="nav-sub__left--list-item"><a href="/recipes" class="btn btn-main">Recipes</a></li>    
        </ul>
    </div>
    <div class="nav-sub__right">
        <ul class="nav-sub__right--list">
            <li class="nav-sub__right--list-item"><a href="/recipes/new" class="btn btn-main">New</a></li>
        </ul>
    </div>
</div>