<% layout('layouts/boilerplate') -%>

    <div>
        <h1>Recipes</h1>
        <div>
            <a href="recipes/new">Create Recipe</a>
        </div>
    </div>
    <% recipes.forEach((recipe)=>{ %>
        <div>
            <%= recipe.title %> - <i>created</i> <%= recipe.date.toDateString() %>
        </div>
        <span><%= recipe.description %> - <a href="/recipes/<%= recipe._id %>">View more</a></span>
    <% }) %>

