<% layout('layouts/boilerplate') -%>

    <form action="/recipes" method="POST" enctype="multipart/form-data"class="form-new__box">
        <div class="form-new__box--top">
            <h1 class="form-new__box--top-title">New recipe</h1>
            <input type="submit" value="Create" class="btn btn-secondary form-new__box--top-btn">
        </div>
        <div class="form-new__title">
            <input type="text" id="title" placeholder="Title" name="recipe[title]">
        </div>
        <div class="form-new__description" id="description-box">
            <input type="text" id="description" placeholder="Recipe description" name="recipe[description]">
        </div>

        <!-- 
        <div class="form-new__step" id="form-new__step-first">
            <div class="form-new__step--count">
                <label for="description">Step 1</label>
                <div class="form-new__step--images">
                    <label for="imageUpload" class="btn btn-secondary">Add images</label>
                    <input type="file" id="imageUpload" name="images" accept="images/*" multiple>
                </div>
            </div>
            <input type="text" class="form-new__step--description" id="step" placeholder="Recipe step" name="recipe[steps]">
        </div>
        -->

        <div class="form-new__add">
            <button>Add step</button>
        </div>
    </form>

    <script>
        var count;
        var $stepInput = `
            <div class="form-new__step" id="form-new__step-first">
            <div class="form-new__step--count">
                <label for="description">Step ${ count ? count++ : 1 }</label>
                <div class="form-new__step--images">
                    <label for="imageUpload" class="btn btn-secondary">Add images</label>
                    <input type="file" id="imageUpload" name="images" accept="images/*" multiple>
                </div>
            </div>
            <input type="text" class="form-new__step--description" id="step" placeholder="Recipe step" name="recipe[steps]">
            </div>
            `;

        var appendTarget = $('#description-box')
        var beforeButton = $('.form-new__add')

        $('.form-new__add button').on('click', function(e){
            e.preventDefault();
            // count++;
            beforeButton.before($stepInput)
        })

        $(window).on('load', function(e){
            appendTarget.after($stepInput)
        })

    </script>

